body {

  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffcc00; /* Change to your preferred hover color */
}

main {
  padding: 20px;
}

.film-list {
  margin-bottom: 30px;
}

.film-row {
  display: flex;
  flex-wrap: wrap;
}

.film {
  width: calc(22% - 2% - 2px); /* Adjusted width to fit 4 films in a row */
  margin: 1%;
  background-color: #333;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.film:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.film img {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s;
}

.film h3 {
  margin-top: 10px;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

.get-started {
  background-color: #111;
  color: #fff;
  padding: 50px;
  text-align: center;
}

.get-started h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.get-started p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn-signup {
  background-color: #ffcc00;
  color: #111;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-signup:hover {
  background-color: #deae02; /* Darken the background color on hover */
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-top: -150px;
}

.modal-content {
  background-color: #111;
  margin: 13% auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  color: #fff;
  position: relative;
  overflow: auto;
}
.film-list {
  display: none; /* Hide the film-list section by default */
}
.film-list.show {
  display: block; /* Show the film-list section when the show class is added */
}

.movie-card {
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  width: 200px; /* Adjust the width as needed */
  margin-bottom: 20px; /* Add some margin at the bottom */
}

.movie-card img {
  width: 150px; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Ensure rounded corners */
}

.movie-card h4 {
  font-size: 16px; /* Adjust the font size */
  margin-top: 10px; /* Add space above the title */
}

.movie-card p {
  font-size: 14px; /* Adjust the font size */
  margin-top: 10px; /* Add space above the description */
}

.see-more-btn {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  padding: 8px 12px; /* Add padding */
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Add pointer cursor */
  margin-top: 10px; /* Add space above the button */
}

.see-more-btn:hover {
  background-color: #0056b3; /* Change button color on hover */
}

.film-list-container {
  display: flex;
  flex-wrap: nowrap; /* Ensure items stay in a single line */
  overflow-x: auto; /* Enable horizontal scrolling */
  gap: 20px; /* Adjust the gap between movie cards */
  padding: 10px; /* Add padding for better appearance */
  margin-bottom: 20px; /* Add some space at the bottom */
  justify-content: center;
}

.film-list-item {
  flex: 0 0 auto; /* Ensure items don't grow or shrink */
  width: 50px; /* Set a fixed width for movie cards */
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px; /* Adjust the padding of the movie card */
  box-sizing: border-box;
}

.film-list-item img {
  width: 50px; /* Adjust the width of the movie image */
  height: auto; /* Maintain aspect ratio */
}

.film-list-item h3 {
  margin-top: 5px; /* Adjust the margin of the movie title */
  font-size: 12px; /* Decrease the font size of the movie title */
}

.film-list-item p {
  margin-top: 5px; /* Adjust the margin of the movie description */
  font-size: 10px; /* Decrease the font size of the movie description */
}

.movie-title {
  font-size: 14px; /* Decrease the font size of the movie title */
}

.movie-description {
  font-size: 12px; /* Decrease the font size of the movie description */
}

.movie-image {
  width: 100px; /* Adjust the width of the movie image */
  height: auto; /* Maintain aspect ratio */
}

.see-more-btn {
  margin-top: 5px; /* Adjust the margin of the see more button */
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-top: -150px;
}

.modal-content {
  background-color: #111;
  margin: 13% auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  color: #fff;
  position: relative;
  overflow: auto;
}

.close {
  position: absolute;
  top: 43px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  overflow: hidden;
}

.close:hover {
  color: #ccc;
}

.recommend-section {
  display: none;
  background-color: #444;
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.recommend-section.show {
  display: block;
  max-height: 1500px; /* Adjust this value based on the content height */
  opacity: 1;
}

.question {
  margin-bottom: 1em;
}

.button-group button {
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: yellow;
  color: black;
}

.button-group button.selected {
  background-color: yellow;
  color: black;
}
.close {
  position: absolute;
  top: 43px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  overflow: hidden;
}

.close:hover {
  color: #ccc;
}

/* Button styles */
.add-buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: none;
}

.film:hover .add-buttons {
  display: block;
}

.add-buttons button {
  margin-right: 5px;
  background-color: #ffcc00;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-buttons button.added {
  background-color: #28a745;
}

/* Style for popup window buttons */
.modal-content .buttons {
  text-align: center;
  margin-top: 20px;
}

.modal-content .buttons button {
  margin: 0 10px;
}

/* Style for the embedded YouTube video */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

input {
  color: red;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffcc00; /* Change to your preferred hover color */
}

main {
  padding: 20px;
}

.film-list-index {
  margin-bottom: 30px;
}

.film-row-index {
  display: flex;
  flex-wrap: wrap;
}

.film {
  width: calc(22% - 2% - 2px); /* Adjusted width to fit 4 films in a row */
  margin: 1%;
  background-color: #333;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.film:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.film img {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s;
}

.film h3 {
  margin-top: 10px;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

.get-started {
  background-color: #111;
  color: #fff;
  padding: 50px;
  text-align: center;
}

.get-started h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.get-started p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn-signup {
  background-color: #ffcc00;
  color: #111;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-signup:hover {
  background-color: #deae02; /* Darken the background color on hover */
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-top: -150px;
}

.modal-content {
  background-color: #111;
  margin: 13% auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  color: #fff;
  position: relative;
  overflow: auto;
}

.close {
  position: absolute;
  top: 43px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  overflow: hidden;
}

.close:hover {
  color: #ccc;
}

/* Button styles */
.add-buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: none;
}

.film:hover .add-buttons {
  display: block;
}

.add-buttons button {
  margin-right: 5px;
  background-color: #ffcc00;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-buttons button.added {
  background-color: #28a745;
}

/* Style for popup window buttons */
.modal-content .buttons {
  text-align: center;
  margin-top: 20px;
}

.modal-content .buttons button {
  margin: 0 10px;
}

/* Style for the embedded YouTube video */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

input {
  color: red;
}
.close {
  position: absolute;
  top: 43px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  overflow: hidden;
}

.close:hover {
  color: #ccc;
}
=======
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #111;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #ffcc00; /* Change to your preferred hover color */
  }
  
  main {
    padding: 20px;
  }
  
  .film-list {
    margin-bottom: 30px;
  }
  
  .film-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .film {
    width: calc(22% - 2% - 2px); /* Adjusted width to fit 4 films in a row */
    margin: 1%;
    background-color: #333;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .film:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .film img {
    max-width: 80%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;
  }
  
  .film h3 {
    margin-top: 10px;
    font-size: 16px;
    position: relative;
    z-index: 1;
  }
  
  .get-started {
    background-color: #111;
    color: #fff;
    padding: 50px;
    text-align: center;
  }
  
  .get-started h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .get-started p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn-signup {
    background-color: #ffcc00;
    color: #111;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .btn-signup:hover {
    background-color: #deae02; /* Darken the background color on hover */
  }
  
  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-top: -150px;
  }
  
  .modal-content {
    background-color: #111;
    margin: 13% auto;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    color: #fff;
    position: relative;
    overflow: auto;
  }
  
  .close {
    position: absolute;
    top: 43px;
    right: 20px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .close:hover {
    color: #ccc;
  }
  
  /* Button styles */
  .add-buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
  }
  
  .film:hover .add-buttons {
    display: block;
  }
  
  .add-buttons button {
    margin-right: 5px;
    background-color: #ffcc00;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-buttons button.added {
    background-color: #28a745;
  }
  
  /* Style for popup window buttons */
  .modal-content .buttons {
    text-align: center;
    margin-top: 20px;
  }
  
  .modal-content .buttons button {
    margin: 0 10px;
  }
  
  /* Style for the embedded YouTube video */
  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
    overflow: hidden;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  input{
    color: red;
  }

