:root {
  --colorpri: #000000;
  --colorsec: #ffffff;
  --colorac: #654286;
  --colorac2: #e19c60;
  --colorhov: #104e8b;
}
body {
  font-family: "DM Sand", sans-serif;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-img {
  width: 100%; /* Set the width to 100% of the parent element */
  max-width: 100px; /* Maximum width of the image */
  height: 40 px; /* Maintain aspect ratio */
  margin-bottom: 2px; /* Space between the image and the heading */
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: var(--colorac2); /* Change to your preferred hover color */
}

main {
  padding: 20px;
}

.film-list-index {
  margin-bottom: 30px;
}

.film-row-index {
  display: flex;
  flex-wrap: wrap;
}

.film {
  width: calc(21% - 2% - 2px); /* Adjusted width to fit 4 films in a row */
  margin: 1%;
  background-color: #333;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.film:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.film img {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s;
}

.film h3 {
  margin-top: 10px;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

.get-started {
  background-color: #111;
  color: #fff;
  padding: 50px;
  text-align: center;
}

.get-started h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.get-started p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn-signup {
  background-color: var(--colorac);
  color: #111;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-signup:hover {
  background-color: var(--colorhov); /* Darken the background color on hover */
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-top: -150px;
}

.modal-content {
  background-color: #111;
  margin: 13% auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  color: #fff;
  position: relative;
  overflow: auto;
}

.close {
  position: absolute;
  top: 43px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  overflow: hidden;
}

.close:hover {
  color: #ccc;
}

/* Button styles */
.add-buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: none;
}

.film:hover .add-buttons {
  display: block;
}

.add-buttons button {
  margin-right: 5px;
  background-color: var(--colorac);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-buttons button.added {
  background-color: var(--colorhov);
  color: white;
}

/* Style for popup window buttons */
.modal-content .buttons {
  text-align: center;
  margin-top: 20px;
}

.modal-content .buttons button {
  margin: 0 10px;
}

/* Style for the embedded YouTube video */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

input {
  color: red;
}

.film-list {
  display: none; /* Hide the film-list section by default */
}

.film-list.show {
  display: block; /* Show the film-list section when the show class is added */
}

.movie-card {
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  width: 200px; /* Adjust the width as needed */
  margin-bottom: 20px; /* Add some margin at the bottom */
}

.movie-card img {
  width: 150px; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Ensure rounded corners */
}

.movie-card h4 {
  font-size: 16px; /* Adjust the font size */
  margin-top: 10px; /* Add space above the title */
}

.movie-card p {
  font-size: 14px; /* Adjust the font size */
  margin-top: 10px; /* Add space above the description */
}

.see-more-btn {
  background-color: var(--colorac); /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  padding: 8px 12px; /* Add padding */
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Add pointer cursor */
  margin-top: 10px; /* Add space above the button */
}

.see-more-btn:hover {
  background-color: #104e8b;
  transform: scale(1.05); /* Change button color on hover */
}
.butn {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 20vh; /* Full viewport height */
}

.btn {
  background-color: var(--colorac); /* Blue color */
  color: white; /* White text */
  padding: 10px 20px; /* Padding for size */
  font-size: 16px; /* Font size */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  margin: 5px; /* Space between buttons */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition effects */
}

/* Hover effect for buttons */
.btn:hover {
  background-color: #104e8b; /* Darker blue on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Active state for buttons */
.btn:active {
  background-color: #0b3c5d; /* Even darker blue when active */
  transform: scale(0.95); /* Slightly shrink on click */
}

#btn {
  background-color: var(--colorac); /* Blue color */
  color: white; /* White text */
  padding: 10px 20px; /* Padding for size */
  font-size: 16px; /* Font size */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  margin: 5px; /* Space between buttons */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition effects */
}

/* Hover effect for buttons */
#btn:hover {
  background-color: #104e8b; /* Darker blue on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Active state for buttons */
#btn:active {
  background-color: #0b3c5d; /* Even darker blue when active */
  transform: scale(0.95); /* Slightly shrink on click */
}

.film-list-container {
  display: flex;
  flex-wrap: nowrap; /* Ensure items stay in a single line */
  overflow-x: auto; /* Enable horizontal scrolling */
  gap: 20px; /* Adjust the gap between movie cards */
  padding: 10px; /* Add padding for better appearance */
  margin-bottom: 20px; /* Add some space at the bottom */
  justify-content: center;
}

.film-list-item {
  flex: 0 0 auto; /* Ensure items don't grow or shrink */
  width: 100px; /* Set a fixed width for movie cards */
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px; /* Adjust the padding of the movie card */
  box-sizing: border-box;
}

.film-list-item img {
  width: 100%; /* Adjust the width of the movie image */
  height: auto; /* Maintain aspect ratio */
}

.film-list-item h3 {
  margin-top: 5px; /* Adjust the margin of the movie title */
  font-size: 12px; /* Decrease the font size of the movie title */
}

.film-list-item p {
  margin-top: 5px; /* Adjust the margin of the movie description */
  font-size: 10px; /* Decrease the font size of the movie description */
}

.movie-title {
  font-size: 14px; /* Decrease the font size of the movie title */
}

.movie-description {
  font-size: 12px; /* Decrease the font size of the movie description */
}

.movie-image {
  width: 100%; /* Adjust the width of the movie image */
  height: auto; /* Maintain aspect ratio */
}

.see-more-btn {
  margin-top: 5px; /* Adjust the margin of the see more button */
}

/* Styles for the recommend section */
.recommend-section {
  background-color: #444;
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.recommend-button {
  background-color: var(--colorac); /* Change the background color */
  color: #fff; /* Change the text color */
  padding: 10px 20px; /* Adjust the padding */
  font-size: 16px; /* Adjust the font size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.recommend-button:hover {
  background-color: #0b3c5d;
  transform: scale(1.05); /* Change the background color on hover */
}

.recommend-section.show {
  max-height: 1500px; /* Adjust this value based on the content height */
  opacity: 1;
}

.question {
  margin-bottom: 1em;
}

.button-group button {
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: var(--colorhov);
  color: white;
}

.button-group button.selected {
  background-color: var(--colorhov);
  color: white;
}
.footer {
  /* Ensures the footer stays at the bottom */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: None;
  color: #fff;
  text-align: center;
  display: flex; /* Use flexbox for vertical centering */
  justify-content: center; /* Horizontally center the content */
  align-items: center;
}
