body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffcc00; /* Change to your preferred hover color */
}

main {
  padding: 20px;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.new-list {
  background-color: #111;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
}

.new-list h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #222;
  color: white;
  border: 1px solid #333;
  border-radius: 3px;
}

textarea {
  width: 98%;
}

input[type="file"] {
  display: none;
}

#list-name,
#tags,
.add-film-input {
  margin-left: -10px;
}

.add-film {
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}

.add-film {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.add-film:hover {
  background-color: #218838;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  width: 300px; /* Adjust as needed */
}

.movie-poster {
  width: 100%; /* Ensures the image takes the full width of the container */
  height: auto; /* Maintains aspect ratio */
  border-radius: 8px;
  margin-bottom: 20px;
}

.movie-details {
  text-align: center; /* Centers the text content */
}

.movie-title {
  font-size: 1.5em;
  margin: 10px 0;
}

.movie-overview,
.movie-release-date,
.movie-rating {
  margin: 5px 0;
}

.delete-film-button {
  background-color: var(--colorac2); /* Adjust the color as needed */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.delete-film-button:hover {
  background-color: var(--colorhov); /* Adjust the hover color as needed */
}

.import {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  width: 65px;
  height: 15px;
}

.import:hover {
  background-color: #138496;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.buttons-group {
  display: flex;

  margin-top: 20px;
}

.cancel {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.cancel:hover {
  background-color: #c82333;
}

.save {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

.save:hover {
  background-color: #218838;
}

.list-status {
  text-align: center;
  margin-top: 20px;
}
