body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffcc00; /* Change to your preferred hover color */
}

main {
  padding: 20px;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.new-list {
  background-color: #111;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
}

.new-list h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #222;
  color: white;
  border: 1px solid #333;
  border-radius: 3px;
}

textarea {
  width: 98%;
}

input[type="file"] {
  display: none;
}

#list-name,
#tags,
.add-film-input {
  margin-left: -10px;
}

.add-film {
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}

.add-film {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.add-film:hover {
  background-color: #218838;
}

#selected-film-item .movie-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  max-width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
#selected-film-item .movie-card img {
  width: 30%;
  height: auto;
  border-radius: 8px 8px 0 0;
}
#selected-film-item .movie-card h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
}
#selected-film-item .movie-card p {
  margin: 0.5em 0;
}
#selected-film-item .delete-film-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}
#selected-film-item .delete-film-button:hover {
  background-color: #d32f2f;
}

#film-list,
#selected-film-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.import {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  width: 65px;
  height: 15px;
}

.import:hover {
  background-color: #138496;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.buttons-group {
  display: flex;

  margin-top: 20px;
}

.cancel {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.cancel:hover {
  background-color: #c82333;
}

.save {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

.save:hover {
  background-color: #218838;
}

.list-status {
  text-align: center;
  margin-top: 20px;
}
